@import './mixins';
@import '../partial/header';
@import '../partial/footer';

:root {
    --color-primary: #9356DC;
    --color-secondary: #FF79DA;
    --color-tertiary: #99E2D0;
    --color-grey: #353535;
    --color-grey-medium: #7E7E7E;
    --color-grey-light: #EAEAEA;
    --color-success: #008766;
    --color-checked: #99E2D0;
    --color-background: #F6F6F6;
    font-size: 16px;
}

* {
    font-family: 'Roboto', sans-serif;
    color: var(--color-grey);
}

/** COMMON **/
a {
    text-decoration: none;
}

button {
    @include button;
}

body {
    margin: 0;
}