@import './abstract/theme';

main {

    #location {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 17px;
        height: 50px;
        font-weight: 500;
        background-color: var(--color-grey-light);
    }

    section {

        padding: 20px;

        &#explore {
            text-align: center;
            background: var(--color-background);
            padding-bottom: 57px;

            h1 {
                margin: 20px auto;
                font-weight: 700;
                font-size: 24px;
                color: #000;
            }

            p {
                font-size: 18px;
                font-weight: 300;
            }

        }

        &#working {

            padding-bottom: 43px;

            ul {
                list-style: none;
                padding-left: 0;

                li {
                    margin-bottom: 25px;
                    padding-left: 12px;
                    counter-increment: listCounter;

                    a {
                        height: 73px;
                        display: flex;
                        align-items: center;
                        background-color: var(--color-background);
                        border-radius: 20px;
                        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
                        position: relative;

                        span {
                            color: #000;
                            font-weight: 500;
                        }

                        &:before {
                            content: counter(listCounter);
                            position: absolute;
                            height: 24px;
                            width: 24px;
                            border-radius: 50%;
                            background-color: var(--color-primary);
                            left: -12px;
                            top: 50%;
                            transform: translateY(-50%);
                            color: #FFF;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        i {
                            margin-left: 35px;
                            color: var(--color-grey-medium);
                            margin-right: 20px;
                        }
                    }

                    &.active {
                        a {
                            i {
                                color: var(--color-primary);
                            }
                        }
                    }

                }

            }

        }

        &#restaurants {

            background-color: var(--color-background);
            padding-bottom: 66px;

            #restaurants-list {

                display: flex;
                flex-direction: column;
                gap: 20px;

                .card {
    
                    border-radius: 15px;
                    overflow: hidden;
    
                    &-header {

                        height: 230px;
                        position: relative;
                        z-index: 0;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        .ribbon {
                            position: absolute;
                            background-color: var(--color-tertiary);
                            padding: 7px 9px 6px;
                            border-radius: 2px;
                            top: 15px;
                            right: 15px;
                            z-index: 1;
                            display: flex;
                            align-items: center;
                            color: var(--color-success);
                            font-weight: 500;
                            font-size: 14px;
                        }
                    }
                    &-body {

                        padding: 15px;
                        display: flex;
                        justify-content: space-between;
                        background-color: #fff;

                        .card-text {

                            h3 {
                                margin: 0;
                                margin-bottom: 5px;
                            }

                        }

                        .like-button {
                            @include heart;
                            margin-top: 5px;
                            margin-right: 5px;
                        }

                    }
                }
            }
        }

    }

}